
<div class="ui container">
  <footer>
    <div class="ui divider"></div>
    <p> Chase Wille &copy; 2019 - Images Courtesy of Creative Common Licenses via Unsplash.com</p>
  </footer>
</div>

<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
</body>

</html>