<!DOCTYPE html>
<html lang="en">

<head>
  <title>Functional Fitness</title>
  <meta charset="UTF-8">
  <meta name="keywords" content="Fitness,Workout,Health,Wellness">
  <meta name="author" content="Chase Wille">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Lato:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Lato:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <nav>
    <div class="ui menu">
      <div class="header item">
        f(X)Fit
      </div>
      <a href="/" class="item">
        Home
      </a>
      <a href="/article" class="item">
        Articles
      </a>
      <a href="/workout" class="item">
        Programs
      </a>
      <!-- <div class="right menu">
        <a class="item">Sign Up</a>
        <a class="item">Login</a>
      </div> -->      
    </div>
  </nav>