<% include partials/header %>

<div class="ui container ">
  <header class="flyRight">
    <h1>What is Functional Fitness?</h1>
  </header>

  <main>

    <section class="about-section">
      <div class="ui divider"></div>
      <h2>Fitness for the Everyday Hero</h2>
      <img class="ui left floated small image" src="/img/aboutpic1.jpg">
      <p>Functional fitness is a website dedicated to delivering you
        the most up-to-date, relevant information about health and fitness.
        We're here to help you navigate the hardships that come with learning
        how to live a healthy and productive life. We hold no bias towards any
        particular standard in the industry, so we service everyone from the regular
        9-5 worker, to the elite powerlifter.
      </p>
    </section>



    <section class="about-section">
      <div class="ui divider"></div>
      <h2>Auspiciously Awesome Articles</h2>
      <img class="ui right floated small image" src="/img/aboutpic2.jpg">
      <p>The articles we publish are written by health professionals with the education
        required to deliver you a wealth of information. From nutritionists, doctors and physical therapists,
        to certified personal trainers who specialize in athletes, corrective exercise, seniors, and more! Our
        information is quality-checked for clarity and format.
      </p>
    </section>



    <section class="about-section">
      <div class="ui divider"></div>
      <img class="ui left floated small image" src="/img/aboutpic3.jpg">
      <h2>Programs designed to help you along the way.</h2>
      <p>Inside our archive of workouts, you're sure to find a program suited to fit your needs. All of our programs
        are backed by science and authored by experienced trainers and athletes. Within you will find programs for all
        levels and styles of fitness, from beginner calisthenics, to world-class classic physique bodybuilding. Our
        tools
        will help you achieve your goals, no matter how high you reach!
      </p>
    </section>

  </main>
</div>



<%include partials/footer %>