<% include partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header">Create New Article</div>
  <form class="ui form" action="/article" method="POST">
    <div class="field">
      <label>Title</label>
      <input type="text" name="article[title]" placeholder="Title">
    </div>
    <div class="field">
        <label>Author</label>
        <input type="text" name="article[author]" placeholder="Author">
      </div>
    <div class="field">
      <label>Image</label>
      <input type="text" name="article[image]" placeholder="Image">
    </div>
    <div class="field">
      <label>Description</label>
      <input type="text" name="article[description]" placeholder="Short Description">
    </div>
    <div class="field">
      <label>Content</label>
      <div class="formatButtonBox">
        <button id="btnP" type="button"><i class="paragraph icon"></i></button>
        <button id="btnH" type="button"><i class="heading icon"></i></button>
        <button id="btnImg" type="button">IMG</button>
      </div>
      <textarea name="article[content]" placeholder="Content. Use HTML tags to format."></textarea>
    </div>
    <button class="ui blue big basic button">Submit</button>
  </form>
</div>


<% include partials/footer %>